.value {
  font-size: 200px;
  color: #088383;
  background-color: rgb(184, 233, 121);
}

div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 30px;
}

span {
  display: block;
  font-size: 30px;
  color: rgb(195, 217, 219);
}

body {
  text-align: center;
  font-family: 'URW Chancery L', cursive;
  color: white;
  background: rgb(5, 14, 22);
}
